@model IEnumerable<Agenda.Data.Lembrete>

@{
    ViewData["Title"] = "Lista de Lembretes";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Edit">Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quando)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>        
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Quando)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>     
                <td>
                    @Html.ActionLink("Alterar", "Edit", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
